.wrapper {
	width: 95%;
	max-width: 1920px;
	margin: 16px auto;
	display: flex;
	grid-template-columns: repeat(12, 1fr);
	gap: 12px;
}

.cart {
	background-color: var(--az-white);
	padding: 28px 22px 48px 22px;
	flex-shrink: 1;
	flex-grow: 1;
}

.cart-header p {
	text-align: right;
}

.cart-items-list {
	list-style-type: none;
}

.cart-item {
	display: flex;
	width: 100%;
	padding: 16px 0px;
}

.cart-item-image {
	width: 180px;
	height: 120px;
	margin-right: 8px;
}

.cart-item-details {
	width: 100%;
	flex-shrink: 1;
}

.cart-item-heading {
	display: flex;
	justify-content: space-between;
}

.cart-item-title {
	max-width: 75%;
}

.in-stock {
	margin-block: 8px;
	color: var(--az-green);
}

.cart-item-actions {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 12px;
}
.cart-item-quantity {
	padding: 2px;
	border: 1px solid var(--az-black);
	border-radius: 7px;
	cursor: pointer;
	margin-right: 12px;
}

.out-of-stock {
	color: var(--az-red);
}

.cart-sidebar {
	flex-shrink: 1;
	flex-grow: 0;
	position: relative;
	max-width: 330px;
}
.cart-checkout {
	background-color: var(--az-white);
	padding: 28px 22px 48px 22px;
}
.checkout-button {
	margin-top: 16px;
}
