.primary {
	background-color: var(--az-yellow);
	border-radius: 7px;
	width: 100%;
	height: 34px;
}

.secondary {
	width: auto;
	border: none;
	color: var(--az-blue);
	background-color: transparent;
}
