.product-list-wrapper {
	padding: var(--content-padding);
	background-color: var(--az-white);
	margin: auto;
	width: 95%;
	max-width: var(--max-width);
	margin-top: 24px;
}

.product-list-grid {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(6, 1fr);
	margin-top: 24px;
	list-style-type: none;
}

.product-item {
	border: 1px solid var(--az-gray);
}

.product-item-image-wrapper {
	width: 100%;
	height: 140px;
	position: relative;
}

.product-item-image-wrapper img {
	object-fit: cover;
}
.product-item-details {
	padding: 12px;
}

.product-item-title {
	height: 60px;
	line-clamp: 2;
	margin-bottom: 8px;
	overflow: hidden;
}

.no-products-wrapper {
	text-align: center;
	padding: 24px;
}
.no-products-wrapper img {
	opacity: 0.5;
}

@media screen and (max-width: 998px) {
	.product-list-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (max-width: 784px) {
	.product-list-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 650px) {
	.product-list-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 400px) {
	.product-list-grid {
		grid-template-columns: 1fr;
	}
}
