:root {
	/* Colors */
	--az-gray: #eaeded;
	--az-white: #ffffff;
	--az-black: #0f1111;
	--az-yellow: #ffd814;
	--az-blue: #0066c0;
	--az-green: #007600;
	--az-red: #760000;
	--az-orange: #ff9900;

	/* Spacing */

	--content-padding: 28px 22px 48px 22px;

	/* Width */
	--max-width: 1920px;
}

@font-face {
	font-family: "Amazon Ember", sans-serif;
	src: url(/fonts/AmazonEmber_Bd.ttf);
	font-display: swap;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Amazon Ember";
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

body {
	background-color: var(--az-gray);

	font-family: "Amazon Ember";
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	outline: none;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
}

.main-nav {
	background-color: var(--az-black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 2.5%;
}

.main-nav .logo-wrapper {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 123px;
	overflow: hidden;
}

:has(.logo-wrapper, .cart-wrapper) img {
	object-fit: contain;
}

.main-nav .cart-wrapper {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 40px;
	overflow: hidden;
	color: var(--az-orange);
}

.cart-wrapper .no-of-items {
	display: inline-block;
	width: 100%;
	font-size: 13px;
	padding-left: 8px;
	/* background-color: white; */
	text-align: center;
}
