:root {
	/* Colors */
	--az-gray: #eaeded;
	--az-white: #ffffff;
	--az-black: #0f1111;
	--az-yellow: #ffd814;
	--az-blue: #0066c0;
	--az-green: #007600;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	line-height: 1.5;
}

body {
	background-color: var(--az-gray);

	/* To be replaced/updated with Amazon's font */
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	outline: none;
	border-width: 1px;
	border-style: solid;
}
